.wrapper {
  margin: auto;
  width: 340px;
  height: 540px;
  padding: 10px;
  border-radius: 10px;
  background-color: #d3d9df;
  background-image: linear-gradient(315deg, #d3d9df 0%, #656b72 74%);

  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
}


.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}